.app-content {
  padding: 32px 48px;
  background: #fafafa;

  .app-welcome {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .app-content-title {
    font-size: 7vw;
  }

  .app-sol-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -8px;
  }


  mat-card {
    margin: 8px;
  }

  mat-card {
    cursor: pointer;
  }
}

.uxg-card-product.mat-card, .uxg-card-solution.mat-card {
    width: 228px;
    height: 88px;
    text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 719px) {
  .app-content {
    padding: 48px 56px;

    .app-content-title {
      font-size: 32px;
    }

    .app-sol-grid {
      justify-content: flex-start;
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .app-content {
    padding: 60px 96px;

    .app-content-title {
      font-size: 40px;
    }

    .app-sol-grid {
      justify-content: flex-start;
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .app-content {
    padding: 60px 96px;

    .app-content-title {
      font-size: 48px;
    }

    .app-sol-grid {
      justify-content: flex-start;
    }
  }
}